<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.organization.dao.mapper.PersonnelPracticeMapper">
  <resultMap id="BaseResultMap" type="com.paladin.organization.model.PersonnelPractice">
    <!--@mbg.generated-->
    <!--@Table personnel_practice-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="personnel_type" jdbcType="TINYINT" property="personnelType" />
    <result column="general_practitioner" jdbcType="TINYINT" property="generalPractitioner" />
    <result column="doc_cert_code" jdbcType="VARCHAR" property="docCertCode" />
    <result column="doc_qualification_code" jdbcType="VARCHAR" property="docQualificationCode" />
    <result column="is_country_cert" jdbcType="TINYINT" property="isCountryCert" />
    <result column="inpatient_cert_code" jdbcType="VARCHAR" property="inpatientCertCode" />
    <result column="is_general_practitioner" jdbcType="TINYINT" property="isGeneralPractitioner" />
    <result column="practice_address" jdbcType="VARCHAR" property="practiceAddress" />
    <result column="registration_date" jdbcType="DATE" property="registrationDate" />
    <result column="practice_category" jdbcType="TINYINT" property="practiceCategory" />
    <result column="practice_scope" jdbcType="VARCHAR" property="practiceScope" />
    <result column="is_dispatched" jdbcType="TINYINT" property="isDispatched" />
    <result column="is_multisite" jdbcType="TINYINT" property="isMultisite" />
    <result column="second_category" jdbcType="TINYINT" property="secondCategory" />
    <result column="third_category" jdbcType="TINYINT" property="thirdCategory" />
    <result column="expertise" jdbcType="VARCHAR" property="expertise" />
    <result column="doc_train_cert" jdbcType="VARCHAR" property="docTrainCert" />
    <result column="nurse_cert_code" jdbcType="VARCHAR" property="nurseCertCode" />
    <result column="nurse_institution" jdbcType="VARCHAR" property="nurseInstitution" />
    <result column="last_registration_date" jdbcType="DATE" property="lastRegistrationDate" />
    <result column="is_exam" jdbcType="TINYINT" property="isExam" />
    <result column="start_work_date" jdbcType="DATE" property="startWorkDate" />
    <result column="nurse_category" jdbcType="VARCHAR" property="nurseCategory" />
    <result column="vdoc_cert_code" jdbcType="VARCHAR" property="vdocCertCode" />
    <result column="regist_village_agency" jdbcType="VARCHAR" property="registVillageAgency" />
    <result column="regist_date" jdbcType="DATE" property="registDate" />
    <result column="total_income" jdbcType="INTEGER" property="totalIncome" />
    <result column="is_medical_insurance" jdbcType="TINYINT" property="isMedicalInsurance" />
    <result column="is_injury_insurance" jdbcType="TINYINT" property="isInjuryInsurance" />
    <result column="is_endowment_insurance" jdbcType="VARCHAR" property="isEndowmentInsurance" />
    <result column="work_years" jdbcType="TINYINT" property="workYears" />
    <result column="is_onjob_train" jdbcType="TINYINT" property="isOnjobTrain" />
    <result column="cert_name" jdbcType="VARCHAR" property="certName" />
    <result column="issue_unit" jdbcType="VARCHAR" property="issueUnit" />
    <result column="issue_date" jdbcType="DATE" property="issueDate" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="is_in_village_clinic" jdbcType="TINYINT" property="isInVillageClinic" />
    <result column="nurse_exam_time" jdbcType="DATE" property="nurseExamTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, personnel_type, general_practitioner, doc_cert_code, doc_qualification_code, 
    is_country_cert, inpatient_cert_code, is_general_practitioner, practice_address, 
    registration_date, practice_category, practice_scope, is_dispatched, is_multisite, 
    second_category, third_category, expertise, doc_train_cert, nurse_cert_code, nurse_institution, 
    last_registration_date, is_exam, start_work_date, nurse_category, vdoc_cert_code, 
    regist_village_agency, regist_date, total_income, is_medical_insurance, is_injury_insurance, 
    is_endowment_insurance, work_years, is_onjob_train, cert_name, issue_unit, issue_date, 
    start_date, end_date, is_in_village_clinic, nurse_exam_time
  </sql>
</mapper>